html,
body {
    text-align: center;
}

.search-container {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#emoji-wrapper {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#emoji-wrapper .emoji {
    margin: 5px;
}

#emoji-wrapper .emoji:active {
    opacity: 0.5;
}
