html,
body {
    text-align: center;
}

#emoji-wrapper {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#emoji-wrapper .emoji {
    margin: 5px;
}

#emoji-wrapper .emoji:active {
    opacity: 0.5;
}
