p:active {
    opacity: 0.5;
}

#lorem-ipsum-wrapper {
    align-items: center;
}

#lorem-ipsum-wrapper p {
    align-self: start;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
}
