html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 14em;
    margin: 15px;
}

h2 {
    font-size: 4em;
    margin: 15px;
}

#moon-phase-wrapper {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 8em;
    }
    h2 {
        font-size: 2em;
    }
}
